<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Market - Inicio</title>
</head>
<body>
    <header id="header"></header>
    
    <main>
        <h1>Mini-Market</h1>
        <p>Todas las ofertas de los productos más interesantes, ahora con un dispositivo adicional por el Black Friday, no dejes escapar esta oportunidad de actualizar tus dispositivos a un precio inferior.</p>
        
        <section id="productos-destacados">
            <h2>Productos destacados</h2>
            <div id="productos-container"></div>
        </section>
    </main>

    <script src="../js/header.js"></script>
</body>
</html>